@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRELOADER */

.preloader {
  text-align: center;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/* Navbar */

.navbar {
  background-color: #012c56;
}

/* BANNER */

.banner {
  margin-top: 0;
  padding: 360px 0 100px 0;
  background-image: url("./assets/banner.jpg");
  box-shadow: inset 0 0 0 2000px rgb(252, 221, 134, 0.3);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  color: white;
}

.banner h1 {
  font-weight: 700;
}
.banner mark {
  font-weight: 500;
  color: white;
  background-color: #012c56;
}

.banner span {
  border-bottom: 3px solid #012c56;
}


/* ABOUT */

.about {
  height: 100%;
  display: flex;
  width: 100%;
  padding: 200px 0 100px 0;
  margin: 0 auto;
  justify-content: center;
  background-color: #ffb71b;
}

.about h1 {
  font-weight: 700;
}

.about p span {
  border-bottom: 3px solid #012c56;
}
.about img {
  margin: auto;
  display: block;
  border:2px solid #fff;
  -moz-box-shadow: 0px 6px 5px #49360c;
  -webkit-box-shadow: 0px 6px 5px #3f2f0b;
  box-shadow: 0px 6px 5px #49350a;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}
.reasons-list {
  padding-left: 1ch;
}
.reasons-list::marker {
  content: "*";
  color: #012c56;
}

/* REVIEWS */

.reviews{
  height:70vh;
  background-color: #F8F9FA;
}

.reviews h1{
  font-weight: 700;
}
.reviews p{
  font-weight: 200;
  font-size: 1.25rem;
}
.productcarousel .carousel {
  width: 20%;
}
.productcarousel img {
  width: 50%;
}

/* DOWNLOAD SECTION */
.download {
  padding: 100px 0 100px 0;
  color: white;
  background-image: url("./assets/product.jpg");
  box-shadow: inset 0 0 0 2000px rgb(0,96,190,0.7);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

.download .download-section {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.download h1 {
  margin-top: 20px;
  font-weight: 700;
}

.download .download-section .download-image {
  animation: updown 3s linear infinite;
  width: 80%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.download .download-section .download-qr {
  width: 100%;
  margin: auto;
  display: block;
  border: 10px solid black;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}


/* FOOTER */
footer{
  background-color: #012c56; 
}

.copyright{
  background-color: rgba(0, 0, 0, 0.2);
}



@media (max-width: 760px) {
  .about img {
    width: 50%;
  }
  .reviews{
    height:80vh;
  }
}
@media (max-width: 375px) {

  .reviews{
    height:130vh;
  }
}